
html { 
    background-image: url("images/nebula.jpg") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

ul {
list-style-type: none;
margin: 0;
padding-left: 10vw;
overflow: hidden;
}

li {
float: left;
}

li a {
display: inline-block;
padding: 15px;
background-color: #ccc7c75b;
}

img   {
    padding: 1em;
    float: none;
    padding-left: 30vw;
    opacity: 30%;
    }

h1 {
    color: whitesmoke;
    font-family: 'Lora', serif;
    text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px rgb(191, 54, 209);
    font-size: 24px;
    text-align: center;
}

h2, h3, h4, p, section, article {
    padding: .5em;
    font-size: 20px;
    font-family: 'Arvo', serif;
    color: lightgray;
    text-align: center;
}

button   {
    background-color: #a52a72af; 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    width: 100%;
    cursor: pointer;
    transition-duration: 0.4s;
}
.wrongAnswer    {
    color: rgb(255, 0, 0);
    text-shadow: 1px 1px 5px rgba(44, 36, 156, 0.815);
}

.correctAnswer  {
    color: rgb(52, 241, 35);
}

@media only screen and ( max-width: 700px)	{
	img { max-width: 65%; padding-left: 20vw; float:none; }
	nav { max-width: 75%; float: none; }
	body { background-image: none; }
}
/*phone*/
@media only screen and ( max-width: 400px )	{
	img { max-width: 45%; max-height: 25%; padding-left: 20vw; float: none; }
	nav { max-width: 100%; float: none; }
	body { background-image: none; }
}