body {
	background-color: darkseagreen;
}
#container {
	width: 50em;
	margin: 1em auto;
	border: outset thick darkgreen;
	background-color: rgba(255,255,255,.9);
	padding: 1em;
	font-family: Arial, Helvetica, sans-serif;
	overflow: hidden;
}
a:link {
	color: darkgreen;
}
a:visited {
	color: darkgreen;
}

h1, h2, h3 {
	color: darkgreen;
	text-align: center;
	line-height: .7em;
	font-family: "Comic Sans MS";
}

th[colspan] {
	text-align: right;
}
table {
	border: thin solid darkgreen;
	background-color: cornsilk;
	border-collapse: collapse;
	margin: 0 auto;
}
td, th {
	padding: .25em 1em;
	border: thin green dotted;
}
td[id] {
	text-align: right;
}

nav {
	text-align: center;
}

footer {
	clear: both;
}
#lgImg {
	float: left;
	padding: 0 1em;
}
table {
	width: 80%;
	margin: 0 auto;
}
#details {
	clear: left
}
#gallery {
	text-align: center;
}
#tabs {
	padding: 0 1em;
}
#tabs li {
	display: inline-block;
	float: left;
	width: 25%;
	margin: .25em 4%;
	text-align: center;
}
#tabs li a {
	color: cornsilk;
}
#tabsDiv {
	clear: left;
	position: relative;
	overflow:hidden;
}
#tabs li {
	border-radius: 15px 15px 0 0;	
	margin: 0;
	padding: .5em 1em;
	width: auto;
	border: thin darkgreen solid;
	border-bottom: none;
	text-decoration: none;
}
.ui-widget-header .ui-state-active {
    background: #75ce30;
    color: cornsilk;
   }
